body 	
	{
	background-color:grey;
	text-align:center;
	width:700px;
	}

div	
	{
	background-color:white;
	width:100%;
	}
	
p	
	{
	width:33%;
	margin:1px;
	float:left;	
	}

.naglowek
	{
	border:1px solid green; 
	width:50%; 
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	}